body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 109, 0.7876400560224089) 28%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    background-color: rgba(255, 255, 255, 0);
}

.Button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.Button {
    height: 100px;
    width: 100px;
    margin: 2px;
    font-size: 4em;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.msg-container
{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hide
{
    display: none;
}
#new-game
{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 33%;
    height: 50px;
    width: 90px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    background-color: rgb(29, 29, 29);
    color: white;
}
